.navbar{
    padding: 1.25rem 1.5rem;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: right;
}
.navbar-expand-lg {
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
}
.navbar-brand{
    font-size: 2rem;
    color: #6391ae;
}
.navbar-bg{
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom:2px solid blue;
}
.navbar-nav .nav-link{
    color: white;
    font-size: 20px;
}
.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover{
    color: gray;
}
.btn-outline-primary{
    border-radius: 13px;
    width: 50%;
}
/* .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
} */
.info{
    border: .15rem solid black;
    border-radius: 5px;
    width: 76%;
    margin-left: 135px;
    margin-top: 25px;
}
/* .border-cls{
    margin-top: 25px;
    border: .15rem solid black;
    border-radius: 5px;
    width: 76%;
    margin-left: 135px;
} */